.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formClass {
    display: flex;
    flex-direction: column;
}

.formClass > button {
    align-self: center;
}

.label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
    justify-items: start;
}

.mistake {
    color: red;
    font-weight: bold;
}

li {
    list-style-type: none;
}