.formClass {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formClass > * {
    align-self: flex-start;
}

.formComponent {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 20px;
}

.formComponent > input {
    width: 250px;
}

input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 220px;
}
